@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-blue-500 {
  background: #08648e;
  color: #f6f6f6;
}

.text-blue-500 {
  color: #08648e;
}

.bg-blue-200 {
  background: #f0f0f0;
}

.bg-gray-gradient {
  background: rgb(247,247,247);
  background: linear-gradient(174deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
}

.overflow-y-auto {
  padding: 1.3rem;
}

.w-16 {
  width: 4rem;
}

.w-64 {
  width: 16rem;
}

textarea {
  resize: none;
}